$phone-xl: 460px;
$tablet: 760px;
$tablet-xl: 1080px;
$laptop: 1240px;
$desktop: 1650px;
$desktop-xl: 2000px;
$desktop-xxl: 2000px;

@mixin size-xs {
  @media (min-width: $phone-xl) {
    @content;
  }
}
@mixin size-s {
  @media (min-width: $tablet) {
    @content;
  }
}

@mixin size-m {
  @media (min-width: $tablet-xl) {
    @content;
  }
}

@mixin size-l {
  @media (min-width: $laptop) {
    @content;
  }
}
@mixin size-xl {
  @media (min-width: $desktop) {
    @content;
  }
}
@mixin size-ultra {
  @media (min-width: $desktop-xl) {
    @content;
  }
}
@mixin size-ultra-xl {
  @media (min-width: $desktop-xxl) {
    @content;
  }
}

@mixin lightMode {
  @media (prefers-color-scheme: light) {
    @content;
  }
}

// // Use"
// @include size-s {
//   // code.....
// }
