// TITLE SIZES
$title-size: 8rem;
$h1-size: 4rem;
$h2-size: 2.2rem;
$h3-size: 1.9rem;
$h4-size: 1.5rem;
$h5-size: 1.2rem;
$h6-size: 1rem;

// FONT SIZES
$large-font-size: 1.1rem;
$basic-font-size: 1rem;
$small-font-size: 0.75rem;
