// TITLE SIZES
$h1-size: 2rem; // 4rem
$h2-size: 1.5rem; // 2.2rem
$h3-size: 1.17rem; // 1.9rem
$h4-size: 1rem; // 1.5rem

// FONT SIZES
$large-font-size: 1.1rem; // 18px
$basic-font-size: 1rem; // 16px
$small-font-size: 0.75rem; // 12px

// FONT FAMILY
$standard-font: 'Open Sans';
$bold-font: 'OpenSans-Bold';

// BUTTON SIZES
$borderSize: 1.56rem;
