// Fontawesome
$fa-font-path: "./assets/webfonts";
@import 'fontawesome/fontawesome';
@import 'fontawesome/solid';
@import 'fontawesome/regular';
@import 'fontawesome/brands';

* {
  font-family: sans-serif;
  font-size: 1rem;
}

body {
  margin: 0!important;
}

h1 {
  color: #ffffff;
  font-size: 2.6rem;
  margin: 0 0 7px 0;
}

h3 {
  color: #ffffff;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

h1 {
  font-family: 'Nixie One';
  font-weight: lighter;
}

#nav {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #eee;
  width: 100vw;
}

#nav img {
  width: 1.5rem;
  height: 3rem;
}

#nav section #searchIcon {
  height: 1.5rem;
  padding-top: 0.5rem;
}

#nav section a {
  margin-bottom: 0.5rem;
}

#nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

#nav ul li a {
  font-family: 'Soho W01 Medium',sans-serif;
  color: #271d6c;
  padding-right: 2rem;
}

#search {
  width: 100vw;
  height: 4rem;
  background-color: #273B61;
  display: grid;
  grid-template-columns: 10% 40% 40% 10%;
  align-items: center;
}

#search i, #search a {
  color: #ffffff;
  fill: #ffffff;
  justify-self: center;
  font-size: 1.1em;
}

#search input {
  color: #091d23;
  border: 1px solid darkgray;
  grid-column-start: 3;
  justify-self: end;
  height: 2rem;
  width: 20vw;
  border-radius: 15px;
  padding-left: 1rem;
}

.body {
  display: flex;
  background-color: #273B61;
}

#category {
  background-color: #252A4A;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 6vw;
  height: 40rem;
  padding-top: 1rem;
  margin-left: 2rem;
  position: sticky;
  top: 1rem;
}

#category div {
  cursor: pointer;
  display: flex;
  flex-direction: row;
}

#category div:hover {
  opacity: 1;
}

#category div img {
  border-radius: 30px;
  width: 1.5rem;
  padding: 1rem;
}

#category div a {
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  font-size: 0.8rem;
  width: 3.5rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

#category div a a {
  opacity: 0.4;
}

#category div a:visited {
  text-decoration: none;
  color: #ffffff;
}

#category div img {
  background-color: #334d7f;
}

.router-link-active a {
  opacity: 1!important;
}

#category .economy .router-link-active img {
  background-color: #53A31F;
}

#category .social .router-link-active img {
  background-color: #F29100;
}

#category .medical .router-link-active img {
  background-color: #E94B0B;
}

#category .product .router-link-active img {
  background-color: #B00F81;
}

#category .government .router-link-active img {
  background-color: #0F2E91;
}

#category .transport .router-link-active img {
  background-color: #0058B9;
}

#category .work  .router-link-active img {
  background-color: #21A1CD;
}

.bodyContent {
  width: 94vw;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
  margin-left: 10rem;
}

router-view {
  display: inline;
}



.contentOverview {
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  grid-auto-flow: row;
  align-items: start;
  align-content: start;
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
  width:80%;
  padding-top: 1rem;
}

.pageTitle {
  grid-column-start: span 4;
}

.largeArticleHome {
  grid-column-start: span 2;
  width: 100%;
}

.subTitlePage {
  color: #ffffff;
  opacity: 0.4;
  margin-top: 3rem;
  margin-bottom: 0;
  grid-column-start: span 4;
}

.smallArticle {
  grid-column-start: span 2;
}

.largeArticle {
  grid-column-start: 1;
  grid-column-end: 5;
  margin: 2rem 0;
}

.staticLargeArticle {
  min-height: auto!important;
}

.articleLink {
  grid-column-start: span 4;
}

.loadMore {
  background-color: #273B61!important;
  text-align: center!important;
  justify-content: center!important;
}

.loadMore p {
  margin-right: 0.5em;
}

.home {
  min-height: 38rem!important;
  flex-direction: column!important;
  justify-content: space-between!important;
  align-items: stretch!important;
}

.home .mainContent {
  height: 37rem!important;
  align-self: stretch!important;
  display: flex;
  flex-direction: column;
}
.home button {
  align-self: baseline;
  width: 100%;
}

.home .line {
  align-self: stretch!important;
  height: 100%!important;
}

.home .line svg{
  height: 100%!important;
  width: 80%;
}
.home .line svg g{
  width: 80%;
}
